interactions:
- request:
    body: !!python/unicode '{"regular_transactions": [{"category": "benefits", "operation":
      "credit", "frequency": "monthly", "amount": 0.07}, {"category": "benefits",
      "operation": "credit", "frequency": "monthly", "amount": 0.11}, {"category":
      "maintenance_in", "operation": "credit", "frequency": "monthly", "amount": 0.19},
      {"category": "benefits", "operation": "credit", "frequency": "monthly", "amount":
      0.13}, {"category": "friends_or_family", "operation": "credit", "frequency":
      "monthly", "amount": 0.29}, {"category": "pension", "operation": "credit", "frequency":
      "monthly", "amount": 0.23}, {"category": "legal_aid", "operation": "debit",
      "frequency": "monthly", "amount": 0.07}, {"category": "child_care", "operation":
      "debit", "frequency": "monthly", "amount": 0.06}, {"category": "rent_or_mortgage",
      "operation": "debit", "frequency": "monthly", "amount": 0.04}, {"category":
      "maintenance_out", "operation": "debit", "frequency": "monthly", "amount": 0.03},
      {"category": "rent_or_mortgage", "operation": "debit", "frequency": "monthly",
      "amount": 0.05}], "capitals": {"bank_accounts": [{"subject_matter_of_dispute":
      false, "description": "Savings", "value": 0.03}, {"subject_matter_of_dispute":
      false, "description": "Investment", "value": 0.05}], "non_liquid_capital": [{"subject_matter_of_dispute":
      false, "description": "Valuable items worth over 500 pounds", "value": 0.09},
      {"subject_matter_of_dispute": false, "description": "Credit balance", "value":
      0.07}]}, "proceeding_types": [{"client_involvement_type": "A", "ccms_code":
      "SE013"}], "dependants": [{"date_of_birth": "2009-01-15", "in_full_time_education":
      false, "assets_value": 0, "relationship": "child_relative", "income": {"amount":
      0, "frequency": "weekly"}}, {"date_of_birth": "2007-01-15", "in_full_time_education":
      false, "assets_value": 0, "relationship": "adult_relative", "income": {"amount":
      0, "frequency": "weekly"}}], "employment_details": [{"income": {"gross": 900.05,
      "receiving_only_statutory_sick_or_maternity_pay": false, "tax": -0.01, "benefits_in_kind":
      0, "frequency": "monthly", "prisoner_levy": 0, "national_insurance": -0.02,
      "student_debt_repayment": 0}}], "partner": {"regular_transactions": [{"category":
      "benefits", "operation": "credit", "frequency": "monthly", "amount": 0.17},
      {"category": "benefits", "operation": "credit", "frequency": "monthly", "amount":
      0.21}, {"category": "maintenance_in", "operation": "credit", "frequency": "monthly",
      "amount": 0.29}, {"category": "benefits", "operation": "credit", "frequency":
      "monthly", "amount": 0.23}, {"category": "friends_or_family", "operation": "credit",
      "frequency": "mont[...]
