{% extends "admin/change_list.html" %}

{% block object-tools %}

  {{ block.super }}

  <div class="module" style="overflow:hidden">

    {% with category_stats=opts.model.get_category_stats %}
      <table style="float:left">
        <thead>
          <tr>
            <th colspan="2">
              <h2>Percentage of {{ category_stats.total_count }} responses choosing:</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for category in category_stats.categories %}
            <tr>
              <td>{{ category.description }}</td>
              <td>{{ category.percentage|stringformat:'.0f%%' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endwith %}

    {% with top_referrers=opts.model.get_top_referrers %}
      <table style="float:left;margin-left:30px">
        <thead>
          <tr>
            <th colspan="2">
              <h2>Top referrers:</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for top_referrer in top_referrers %}
            <tr>
              <td>{{ top_referrer.referrer }}</td>
              <td>{{ top_referrer.percentage|stringformat:'.0f%%' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endwith %}

  </div>

{% endblock %}
