-r requirements-git.in

# Versions are left out on purpose in order for you to use the latest ones.
# After the first "pip install -r", just run "pip freeze" and add the version
# to each package in each requirements/*.txt.

django==5.2.1
setuptools==80.9.0
django-nested-admin==3.2.4
django-model-utils==5.0.0
psycopg2-binary==2.9.10
sentry-sdk==2.11.0
djangorestframework==3.16.0
jsonfield==3.1.0
drf-nested-routers==0.94.2
Markdown==3.7
bleach==6.1.0
django-oauth-toolkit==3.0.1
django-braces==1.15.0
django-extended-choices==0.3.0
django-filter==24.3
jsonpatch==1.9
networkx==3.4.2
lxml==6.0.2
drf-extensions==0.8.0
logstash-formatter==0.5.9
django-ipware==7.0.1
csvkit==2.0.1
python-dateutil==2.9.0.post0
requests==2.32.3
pytz==2021.1
dj-database-url==2.2.0
django-docopt-command==0.2.0
transifex-client==0.11b3
polib==1.0.6
celery[sqs]==5.4.0
kombu==5.4.0
PyYAML==6.0.2
pyminizip==0.2.3
boto3>=1.5,<2
django-storages==1.14.4
django-session-security==2.2.3
notifications-python-client==12.1.0
django-cookies-samesite==0.9.0
django-csp==4.0
cryptography==43.0.1
PyJWT==2.9.0
