https://github.com/ministryofjustice/cla_common/archive/refs/tags/0.3.25.tar.gz
https://github.com/ministryofjustice/djorm-ext-pgfulltext/archive/refs/tags/0.1.0.tar.gz
https://github.com/timmyomahony/django-pagedown/archive/refs/tags/v1.1.tar.gz
https://github.com/said-moj/django-moj-irat/archive/refs/tags/0.3.1.tar.gz
https://github.com/HassenPy/django-pdb/archive/refs/tags/0.3.2.tar.gz
