# Default values for cla-backend in a dev environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
environment: "development"
image:
  repository: cla_backend_local
  tag: latest
  pullPolicy: IfNotPresent

localPostgres:
  enabled: true

service:
  type: NodePort
  port: 80

ingress:
  enabled: false

# Lists don't deep merge, so this list of envVars overrides anything defined in an earlier values file
envVars:
  DEBUG:
    value: "True"
  LOAD_TEST_DATA:
    value: "True"
  ADMIN_USER:
    value: "admin"
    secret: null
  ADMIN_PASSWORD:
    secret: null
    value: "admin"
  DB_HOST:
    secret:
      optional: true
  DB_PORT:
    secret:
      name: database
      key: port
      optional: true
  REPLICA_DB_HOST:
    secret:
      optional: true
  SITE_HOSTNAME:
    value: ~
  FRONTEND_HOST_NAME:
    value: ~
