# Default values for cla-backend in a dev environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
environment: "staging"
image:
  pullPolicy: IfNotPresent

replicaCount: 2

localPostgres:
  enabled: false

ingress:
  enabled: true
  whitelist_additional:
    - 52.210.85.116/32

metabase:
  enabled: false
  host: "cla-dashboard-staging"

# Lists don't deep merge, so this list of envVars overrides anything defined in an earlier values file
envVars:
  DEBUG:
    value: "False"
  LOAD_SEED_DATA:
    value: "True"
  LOAD_TEST_DATA:
    value: "True"
  LOAD_END_TO_END_FIXTURES:
    value: "False"
  FRONTEND_HOST_NAME:
    value: "staging.cases.civillegaladvice.service.gov.uk"
  EXPRESS_SERVER_HOST:
    value: "http://cla-frontend-socket-server.laa-cla-frontend-staging.svc.cluster.local"
  EXPRESS_SERVER_PORT:
    value: "80"
  MIGRATE_OAUTH_DATA:
    value: "True"
  CFE_HOST:
    value: "http://cfe-civil.cfe-civil-production.svc.cluster.local"
