# Default values for cla-backend in a dev environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
environment: "uat"
image:
  pullPolicy: IfNotPresent

replicaCount: 2

localPostgres:
  enabled: false

metabase:
  enabled: true

ingress:
  enabled: true
  whitelist_additional:
  - 52.210.85.116/32

# Lists don't deep merge, so this list of envVars overrides anything defined in an earlier values file
envVars:
  DEBUG:
    value: "False"
  REPLICA_DB_HOST:
    secret:
      optional: true
  LOAD_SEED_DATA:
    value: "True"
  LOAD_TEST_DATA:
    value: "True"
  LOAD_END_TO_END_FIXTURES:
    value: "False"
  MORTGAGE_CAP_REMOVAL_DATE:
    value: "2020-01-28 00:00"
  FRONTEND_HOST_NAME:
    value: "https://laa-cla-frontend-uat.apps.live-1.cloud-platform.service.justice.gov.uk"
  EXPRESS_SERVER_HOST:
    value: "http://cla-frontend-socket-server.laa-cla-frontend-uat.svc.cluster.local"
  EXPRESS_SERVER_PORT:
    value: "80"
  MIGRATE_OAUTH_DATA:
    value: "True"
