# Default values for cla-backend in a dev environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: cla_backend_local
  tag: latest
  pullPolicy: IfNotPresent

localPostgres:
  enabled: true

service:
  type: NodePort
  port: 80

# Lists don't deep merge, so this list of envVars overrides anything defined in an earlier values file
envVars:
  - name: DEBUG
    value: "True"
  - name: ALLOW_EMPTY_PASSWORD
    value: "yes"
  - name: LOAD_TEST_DATA
    value: "True"

worker:
  concurrency: 1
  enabled: true
  broker:
    local: true
    image: "redis:5.0.9-alpine3.11"
