apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cla-backend.fullname" . }}-app
  labels:
    {{- include "cla-backend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cla-backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cla-backend.selectorLabels" . | nindent 8 }}
        app: web
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "cla-backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /status/
              port: http
              httpHeaders:
                - name: Host
                  value: "{{ .Values.host }}"
          readinessProbe:
            httpGet:
              path: /status/
              port: http
              httpHeaders:
                - name: Host
                  value: "{{ .Values.host }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: ALLOWED_HOSTS
              value: "{{ .Values.host }}"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db
                  key: password
                  optional: true
            - name: CELERY_BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: primary_endpoint_address
            - name: CELERY_HOST
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: primary_endpoint_address
            - name: CELERY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: auth_token
            {{ include "cla-backend.localPostgresEnvVars" . | nindent 12 }}
            {{- toYaml .Values.envVars | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
---
{{- if .Values.localPostgres.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cla-backend.fullname" . }}-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "cla-backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "cla-backend.fullname" . }}-db
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "bitnami/postgresql"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5432
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db
                  key: password
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: cla_backend
            - name: CELERY_BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: primary_endpoint_address
            - name: CELERY_HOST
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: primary_endpoint_address
            - name: CELERY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ec-cluster
                  key: auth_token
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
